.container-lazy-image{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  width: 210px;
  height: 260px;
  background-color: #504e4e;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.card-img{
  margin: 0 auto;
  width: 250px;
  height: 300px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  object-fit: cover;
  display: none; /* Inicialmente oculta */
  opacity: 0; /* Inicialmente transparente */
}




.card-img-loader{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100px;
  height: 120px;
  margin: 0 auto;
  object-fit: inherit;
  filter: blur(5px);
}

.card-img-loader, .card-img {
  transition: opacity 0.5s ease-in-out;
}
